
@model IEnumerable<Nullamsoftware.Models.EventModel>

@{
    ViewData["Title"]="ListOfEvents";
    
}

<p>
    @Html.ActionLink("Create New","Create")
</p>

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Yritusenimi)</th>
        <th>@Html.DisplayNameFor(model => model.Toimumisaeg)</th>
    </tr>
    @foreach(var item in Model)
    {
        
        <tr>
        <td>@Html.DisplayFor(modelItem => item.Yritusenimi)</td>
        <td>@Html.DisplayFor(modelItem => item.Toimumisaeg)</td>
        </tr>
    }


</table>
